body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}

.jumbotron {
	background-size: cover;
	background-size: cover;
	width: 100%;
	padding: 100px 100px;
	margin-bottom: 0; 
}
.breadcrumb{
	margin-top: 0px;
	margin-bottom: 10px;
}
#service {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-right: 10px;
	margin-left: 10px;
	box-shadow: 2px 2px 5px #999;
}
.thumbnail {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;	
	box-shadow: 2px 2px 5px #999;	
}
.jumbotron background {
	opacity: 0.6;
}
.jumbotron h1 {
	font-size: 100px;
	 text-shadow: -3px 3px 5px white;
	color: black;
}
.jumbotron p {
	font-size: 30px;
	 text-shadow: -3px 3px 5px white;
	color: black;
}
@media (max-width: 1280px) {
  .jumbotron h1 { font-size: 90px; }
  .jumbotron p { font-size: 30px; }
}

@media (max-width: 800px) {
  .jumbotron h1 { font-size: 40px; }
  .jumbotron p { font-size: 20px; }
}
